[submodule "foundry-fund-me/lib/forge-std"]
	path = foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-fund-me/lib/foundry-devops"]
	path = foundry-fund-me/lib/foundry-devops
	url = https://github.com/cyfrin/foundry-devops
[submodule "foundr-simple-storage"]
    path = foundr-simple-storage
    url = https://github.com/your-username/foundr-simple-storage.git
